body, p { margin: 0; }
#background {  
    position: relative;
    width: 100vw;
    height: 56.25vw;
    left: 0;
    top: 0;
    background-color: #000000;
}
#box1 > video {
    width: 100%;
    height: 100%;
}