@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Song+Myung&display=swap');

#box1 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    left: 0;
    top: 0;
    background-image: url("background001.png");
    background-size: cover;
    background-position-y: center;
    background-color: #0051ff;
}
#menu {
    position: absolute;
    left: 4vw;
    top: 1.3vw;
    width: 3vw;
    height: 0px; 
    background-color: rgb(196, 252, 255);
    box-sizing: border-box;
    border: none;
    transition-duration: 0.2s;
}