@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Song+Myung&display=swap');

#box1 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    left: 0;
    top: 0;
    background-image: url("background001.png");
    background-size: cover;
    background-position-y: center;
    background-color: #0051ff;
}
#menu {
    position: absolute;
    left: 4vw;
    top: 1.3vw;
    width: 3vw;
    height: 0px; 
    background-color: rgb(196, 252, 255);
    box-sizing: border-box;
    border: none;
    transition-duration: 0.2s;
}
#menu:hover > #mainmenu {
    height: 250px;
    border: solid 1px #000;
}
#index {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0.2vw;;
    top: 3vw;
}
#index > ul {
    display: inline-block;
    margin: 0; padding: 0;
    list-style-type: none;
}
#index > ul a:link,
#index > ul a:visited
{
    text-decoration: none;
    color: #000000;
}
#index > ul a:hover
{
    text-decoration: underline;
    color: #ff5bd0;
}
#index > ul li {
    float: left;
    padding: 0 24px;
}
#index > ul li:hover {
}
#index {
    position: absolute;
    bottom: 24px;
    right: 8px;
}