@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Song+Myung&display=swap');

#box1 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    left: 0;
    top: 0;
    background-image: url("background.png");
    background-size: cover;
    background-position-y: center;
    background-color: #0051ff;
}
#box6 > p {
    position: absolute;
    left: 6.4vw;
    top: 2vw;
    font-family: 'Song Myung', serif;
    font-size: 1.5vw;
    color:black;
}
#box2 > h1 {
    position: absolute;
    left: 6.4vw;
    top: 8vw;
    font-family:'Playfair Display', serif;
    font-size: 3.1vw;
    color: rgb(0, 0, 0);
}
#box2 > h2 {
    position: absolute;
    top: 11vw;
    left: 6.4vw;
    font-family:'Playfair Display', serif;
    font-size: 3.1vw;
    color: rgb(0, 0, 0);
}
#box3 > p {
    position: absolute;
    top: 16.4vw;
    left: 6.4vw;
    font-family: 'Song Myung', serif;
    font-size: 1.88vw;
    color: rgb(0, 0, 0);
}
#box4 > h3 {
    position: absolute;
    top: 29.3vw;
    left: 6.4vw;
    font-family: 'Playfair Display', serif;
    font-size: 2.3vw;
    color: rgb(0, 0, 0);
}
#box4 > p {
    position: absolute;
    top: 33.8vw;
    left: 6.4vw;
    font-family: 'Song Myung', serif;
    font-size: 1.38vw;
    color: rgb(0, 0, 0);
}
#box5 > p {
    position: absolute;
    top: 33.8vw;
    left: 23.5vw;
    font-family: 'Song Myung', serif;
    font-size: 1.38vw;
    color: rgb(0, 0, 0);
}
.link1 {
    position: absolute;
    top: 35.1vw;
    left: 39.8vw;
    font-size: 1.6vw;
    color: rgb(0, 0, 0);
}
.link2 {
    position: absolute;
    top: 36.9vw;
    left: 32vw;
    font-size: 1.6vw;
    color: rgb(0, 0, 0);
}
