@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Song+Myung&display=swap');

#box1 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    left: 0;
    top: 0;
    background-image: url("background.png");
    background-size: cover;
    background-position-y: center;
    background-color: #0051ff;
}
#box2 > h1 {
    position: absolute;
    top: 104px;
    left: 90px;
    font-family:'Playfair Display', serif;
    font-size: 45px;
    color: rgb(0, 0, 0);
}
#box2 > h2 {
    position: absolute;
    top: 160px;
    left: 90px;
    font-family:'Playfair Display', serif;
    font-size: 45px;
    color: rgb(0, 0, 0);
}
#box3 > p {
    position: absolute;
    top: 235px;
    left: 90px;
    font-family: 'Song Myung', serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
#box4 > h3 {
    position: absolute;
    top: 428px;
    left: 90px;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: rgb(0, 0, 0);
}
#box4 > p {
    position: absolute;
    top: 490px;
    left: 90px;
    font-family: 'Song Myung', serif;
    font-size: 21px;
    color: rgb(0, 0, 0);
}
#box5 > p {
    position: absolute;
    top: 490px;
    left: 350px;
    font-family: 'Song Myung', serif;
    font-size: 21px;
    color: rgb(0, 0, 0);
}
.link1 {
    position: absolute;
    top: 512px;
    left: 590px;
    font-size: 21px;
    color: rgb(0, 0, 0);
}
.link2 {
    position: absolute;
    top: 538px;
    left: 448px;
    font-size: 21px;
    color: rgb(0, 0, 0);
}