#box1 {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    left: 0;
    top: 0;
    background-image: url("background.png");
    background-size: cover;
    background-position-y: center;
    background-color: #0051ff;
}
p {
    position: absolute;
    width: 50vw;
    left: 100px;
    top: 200px;
    padding: 20px;
    background-color: #ffffff;
    overflow: hidden; /* 내용이 넘칠 경우 처리 방법*/
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}